@use "../../styles/style.scss" as *;

.contacts {
  &__common,
  &__attention,
  &__list-descr {
    @include flexible();
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3%;
    font-family: Alice;
    font-size: 1.5em;
  }

  &__list {
    @include listReset();
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;

    margin-bottom: 10%
  }

  &__link {
    @include flexible();
    flex-direction: column;
  }

  &__img{
    height: 70px;
    &-descr{
      display: block;
      text-align: center;
      font-family: Alice;
      font-size: 1.5em;
    }
  }
}
.b17-block {
  &__img {
    padding: 5px;
    background: linear-gradient(to right, #325683, #bdd5f1);
    border-radius: 15px;
  }
}
