@use "../../styles/style.scss" as *;

.common-link {
  @include flexible();
  padding-top: 3%;

  &__link {
    @include flexible();
    @include standartTransition();

    padding: 10px;

    border: none;
    border-radius: 15px;

    min-height: 50px;
    width: 100%;

    background-color: $color4;

    font-family: "Marutya", "sans-serif";
    text-align: center;

    @media (hover: hover) {
      &:hover {
        background-color: $color4hover;
      }
    }

    &:focus {
      outline: none;
      background-color: $color4focus;
    }

    &:active {
      background-color: $color4active;
    }
  }
}
