@use "../../styles/style.scss" as *;

.common-link {
  @include flexible();
  padding-top: 3%;

  &__link {
    @include flexible();
    @include standartBtn();

    user-select: none;
    font-family: inherit;
    text-align: center;
    font-size: 30px;
  }
}

@media (max-width: 780px) {
  .common-link {
    &__link {
      font-size: 20px;
    }
  }
}

@media (max-width: 380px) {
  .common-link {
    &__link {
      font-size: 16px;
    }
  }
}