@use "../../styles/style.scss" as *;

.common-link {
  @include flexible();
  padding-top: 3%;

  &__link {
    @include flexible();
    @include standartBtn();

    user-select: none;
    font-family: inherit;
    text-align: center;
    font-size: 1.5em;
  }
}
