@use "../../../styles/style.scss" as *;

.about {
  &__list {
    @include listReset();
    @include flexible();
    & {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    font-size: 30px;
    margin-bottom: 20px;
    &:nth-child(1) {
      font-weight: bold;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 780px) {
  .about {
    &__item {
      font-size: 20px;
    }
  }
}

@media (max-width: 400px) {
  .about {
    &__item {
      @include textTypeText1Mobile();
    }
  }
}
