@use "../../styles/style.scss" as *;

.greeting {
  padding: 0;
  &__content {
    padding-bottom: 80px;
    min-height: 100vh;

    @include flexible();
    gap: 50px;

    position: relative;

    background: $color1;
    color: $white;

    opacity: 0;
    z-index: 2;
  }
  &__link {
    @include btnReset();
    @include flexible();
    width: 50px;
    height: 50px;
    align-self: center;
    margin-right: 4%;
  }

  &__hearticon {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 1;
    path {
      fill: $color2;
    }
  }

  &__arrowicon {
    @include flexible();
    width: inherit;
    height: inherit;
    path {
      stroke: $white;
    }
  }

  &__h1 {
    @include textReset();
    text-align: center;
    margin-bottom: 0 !important;
    padding: 0 20px;
  }
}

@media (max-width: 980px) {
  .greeting {
    &__content {
      gap: 10px;
    }
    &__h1 {
      padding: 0 5px;
    }
  }
}
// z-index:
// 0: catAnimation
// 1: heartIcon
// 2: content
