@use "../../styles/style.scss" as *;

.education {
  &__list {
    @include listReset();
    @include flexible();
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    margin-bottom: 3%;
  }
}
