@use "../../styles/style.scss" as *;

.education {
  &__list {
    @include listReset();
    @include flexible();
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    margin-bottom: 3%;
    font-size: 30px;
  }
}

@media (max-width: 780px) {
  .education {
    &__item {
      font-size: 20px;
    }
  }
}

@media (max-width: 380px) {
  .education {
    &__item {
      font-size: 16px;
    }
  }
}
