@use "../../../styles/style.scss" as *;

.payment {
  &__text {
    font-size: 30px;
  }
  &__text_margin {
    margin-bottom: 20px;
  }
}

@media (max-width: 980px) {
  .payment {
    &__text {
      font-size: 25px;
    }
  }
}

@media (max-width: 780px) {
  .payment {
    &__text {
      font-size: 20px;
    }
  }
}

@media (max-width: 400px) {
  .payment {
    &__text {
      @include textTypeText1Mobile();
    }
  }
}