.payment {
  &__text {
    font-size: 30px;
  }
  &__text_margin {
    margin-bottom: 20px;
  }
}

@media (max-width: 980px) {
  .payment {
    &__text {
      font-size: 25px;
    }
  }
}

@media (max-width: 780px) {
  .payment {
    &__text {
      font-size: 20px;
    }
  }
}

@media (max-width: 380px) {
  .payment {
    &__text {
      font-size: 16px;
    }
  }
}