@use "../../styles/style.scss" as *;

.hero {
  @include flexible();
  height: 100vh;
  .section__container {
    display: flex;
    align-items: center;
  }
  &__picture {
    @include flexible();
    overflow: hidden;
    width: 40%;
    height: 100%;
    border-radius: 15px;
  }
  &__psychologist {
    border-radius: 15px;
    object-fit: cover;
  }

  &__first-container {
    @include flexible();
    flex-direction: column;
  }

  &__h2 {
    @include flexible();
    text-align: center;
    font-size: 90px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  &__content {
    gap: 40px;
    @include flexible();
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    color: $textLighter;
    width: 100%;
  }

  &__list {
    @include listReset();
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
  &__item {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
  }
  &__item-numbers {
    @include flexible();
    color: $black;
    font-size: 50px;
  }
  &__item-text {
    @include flexible();
    justify-content: flex-start;
    font-size: 25px;
  }
}

.work {
  color: $text;
}

.carousel {
  &__container {
    @include flexible();
  }
  &__block {
    @include flexible();
    max-width: 40%;
  }
}

.FAQ {
  &__h2 {
    padding: 20px 0 0;
    color: $white;
  }
}

.ant-collapse-item {
  &:not(:last-child) {
    border-bottom: 1px solid $color5 !important;
  }
}

.first-container {
  height: 80vh;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

@media (max-width: 980px) {
  .hero {
    &__h2 {
      font-size: 50px;
      margin-bottom: 20px;
    }
    &__content {
      gap: 20px;
    }
    &__text {
      text-align: center;
      font-size: 20px;
    }

    &__item-text {
      font-size: 20px;
    }
  }
}

@media (max-width: 780px) {
  .hero {
    &__h2 {
      font-size: 40px;
    }

    &__item-numbers {
      font-size: 35px;
    }
    &__text,
    &__item-text {
      font-size: 16px;
    }
    &__list {
      gap: 10px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 580px) {
  .first-container {
    flex-direction: column-reverse;
  }
  .hero {
    &__picture {
      width: 100%;
    }
    &__h2 {
      font-size: 35px;
      margin-bottom: 5px;
    }
    &__content {
      gap: 5px;
    }
    &__list {
      gap: 5px;
    }
  }
}

@media (max-width: 380px) {
  .work {
    padding: 0;
  }
  .FAQ {
    &__h2 {
      padding: 10px 0 0;
    }
  }
}
