@use "../../styles/style.scss" as *;

.hero {
  @include flexible();
  height: 100vh;
  .section__container {
    display: flex;
    align-items: center;
  }
  &__picture {
    @include flexible();
    overflow: hidden;
    width: 40%;
    height: 100%;
    border-radius: 15px;
  }
  &__psychologist {
    border-radius: 15px;
    object-fit: cover;
  }

  &__first-container {
    @include flexible();
    flex-direction: column;
  }

  &__h2 {
    @include flexible();
    text-align: center;
    font-size: 6em;
    font-weight: 400;
    margin-bottom: 40px;
  }
  &__content {
    gap: 40px;
    @include flexible();
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3em;
    color: $textLighter;
    width: 100%;
  }

  &__list {
    @include listReset();
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
  &__item {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
  }
  &__item-numbers {
    @include flexible();
    color: $black;
    font-size: 3em;
  }
  &__item-text {
    @include flexible();
    justify-content: flex-start;
    font-size: 1em;
  }
}

.work {
  color: $text;
}

.carousel {
  &__container{
    @include flexible();
  }
  &__block {
    @include flexible();
    max-width: 40%;
  }
}

.FAQ{
  &__h2{
    padding: 20px 0;
    color: $white;
  }
}

.ant-collapse-item {
  &:not(:last-child) {
    border-bottom: 1px solid $color5 !important;
  }
}

.first-container {
  height: 80vh;
}
