@use "../../styles/style.scss" as *;

.about {
  &__list {
    @include listReset();
    @include flexible();
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    font-size: 30px;
    &:nth-child(1) {
      font-weight: bold;
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(7) {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 780px) {
  .about {
    &__item {
      font-size: 20px;
    }
  }
}

@media (max-width: 380px) {
  .about {
    &__item {
      font-size: 16px;
    }
  }
}
