@use "../../styles/style.scss" as *;

.about {
  &__list {
    @include listReset();
    @include flexible();
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    font-size: 1.5em;
    &:nth-child(1) {
      font-weight: bold;
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(7) {
      margin-bottom: 20px;
    }
  }
}
