@use "../../../styles/style.scss" as *;

.contacts {
  &__common {
    @include flexible();
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
    font-size: 30px;
    margin-bottom: 10px;
  }

  &__list {
    @include listReset();
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    margin-bottom: 40px;
  }

  &__link {
    @include flexible();
    flex-direction: column;
  }

  &__img {
    height: 100px;
  }
  &__img-descr {
    display: block;
    text-align: center;
    font-size: 30px;
  }
  &__attention {
    @include flexible();
    text-align: center;
    font-size: 13px;
  }
}
.b17-block {
  &__img {
    padding: 5px;
    background: linear-gradient(to right, #325683, #bdd5f1);
    border-radius: 15px;
  }
}

@media (max-width: 980px) {
  .contacts {
    &__common {
      font-size: 25px;
    }
    &__img-descr {
      font-size: 25px;
    }
  }
}

@media (max-width: 780px) {
  .contacts {
    &__common {
      font-size: 20px;
    }
    &__img-descr {
      font-size: 20px;
    }
  }
}
@media (max-width: 580px) {
  .contacts {
    &__img {
      height: 70px;
    }
  }
}

@media (max-width: 380px) {
  .contacts {
    &__common {
      font-size: 16px;
    }
    &__img-descr {
      font-size: 16px;
    }
    &__img {
      height: 50px;
    }
  }
}
