.carousel-content {
  width: 80%;
  height: 50vh;
  overflow: hidden;
  div {
    width: 100%;
    height: 100%;
  }
}

.carousel__img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 400px) {
  .carousel-content {
    width: 100%;
    height: 300px;
    overflow: hidden;
    div {
      width: 100%;
      height: 100%;
    }
  }
  .carousel__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
}
