@use "../../styles/style.scss" as *;

.competence {
  &__descr {
    margin-bottom: 3%;
    font-size: 30px;
  }
  &__list {
    @include listReset();
    @include flexible();
    flex-direction: column;
    align-items: flex-start;
    font-size: 30px;
  }

  &__item {
    margin-bottom: 2%;
  }
}

@media (max-width: 780px) {
  .competence {
    &__descr,
    &__list {
      font-size: 20px;
    }
  }
}

@media (max-width: 380px) {
  .competence {
    &__descr,
    &__list {
      font-size: 16px;
    }
  }
}
