@use "./styles/style.scss" as *;
/* Global selectors */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}

@font-face {
  font-family: "Alice";
  src: url("./assets/fonts/Alice-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: Alice;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  border: 0;

  background-image: url("./assets/image/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Global class*/
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.main {
  position: relative;
}
.hide {
  display: none;
}
.visible {
  display: flex;
}
.opacity {
  opacity: 1;
}

.h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 5em;
}

.App {
  overflow: hidden;
}

.h2-common {
  @include flexible();
  font-size: 60px;
  margin-bottom: 20px;
  text-align: center;
}
.section-background {
  background-color: $blue;
}

.section-common {
  padding: 20px;
  font-family: inherit;
}

@media (max-width: 980px) {
  .h2-common {
    font-size: 40px;
  }
}

@media (max-width: 780px) {
  .h1 {
    font-size: 30px;
  }
}

@media (max-width: 380px) {
  .h1 {
    font-size: 25px;
  }
  .section-common {
    padding: 10px;
  }
  .h2-common {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
}
