@use "../../styles/style.scss" as *;

.ant-collapse-header {
  display: flex !important;
  align-items: center !important;
}

.accordion {
  &__collapse-header {
    @include flexible();
    justify-content: flex-start;
    color: $text;
    gap: 20px;
    padding: 20px;
  }

  &__header-img {
    svg {
      width: 60px;
      height: 60px;
    }
  }
  &__header-name {
    font-size: 25px;
  }
  &__collapse-content {
    @include flexible();
    flex-direction: column;
    align-items: flex-start;
    background-color: $white;
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
  }
  &__content-descr {
    font-size: 16px;
  }
  &__link {
    @include standartBtn();
    @include flexible();
    max-height: 60px;
    font-size: 25px;
    max-width: 300px;
    width: 100%;
    border: none;
    cursor: pointer;
  }
  &__descr-list {
    @include listReset();
    padding-left: 20px;
  }
}

@media (max-width: 980px) {
  .accordion {
    &__header-img {
      svg {
        width: 40px;
        height: 40px;
      }
    }
    &__collapse-header {
      padding: 10px;
    }
    &__header-name {
      font-size: 20px;
    }
    &__descr-text,
    &__descr-list {
      font-size: 16px;
    }
    &__link {
      font-size: 16px;
      max-width: 200px;
    }
  }
}

@media (max-width: 780px) {
  .accordion {
    &__header-img {
      svg {
        width: 30px;
        height: 30px;
      }
    }
    &__collapse-header {
      padding: 5px;
    }
  }
}

@media (max-width: 380px) {
  .accordion {
    &__header-img {
      svg {
        width: 30px;
        height: 30px;
      }
    }
    &__header-name {
      font-size: 1em;
    }
    &__descr-text,
    &__descr-list {
      font-size: 0.6em;
    }
    &__link {
      padding: 5px;
      font-size: 0.8em;
    }
  }
}
