@use "../../styles/style.scss" as *;

.ant-collapse-header {
  display: flex !important;
  align-items: center !important;
}

.accordion {
  &__collapse-header {
    @include flexible();
    justify-content: flex-start;
    color: $text;
    gap: 20px;
    padding: 30px;
  }

  &__header-img {
    svg {
      width: 60px;
      height: 60px;
    }
  }
  &__header-name {
    font-size: 2.5em;
  }
  &__collapse-content {
    @include flexible();
    flex-direction: column;
    align-items: flex-start;
    background-color: $white;
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
  }
  &__content-descr {
    font-size: 1.5em;
  }
  &__link {
    @include standartBtn();
    @include flexible();
    max-height: 60px;
    font-size: 2em;
    max-width: 300px;
    width: 100%;
    border: none;
    cursor: pointer;
  }
  &__descr-text {
    font-size: 1.5em;
  }
  &__descr-list {
    @include listReset();
    padding-left: 20px;
    font-size: 1.5em;
  }
}
